/* @media (max-width: 1350px) {}
@media (max-width: 1200px) {}
@media (max-width: 1024px) {}
@media (max-width: 860px) {} */

.coverButtons {
    margin: 0 5rem;
    height: 6rem;
    width: 12rem;
}

.animate {
    animation-duration: 0.95s;
    animation-delay: 0.5s;
    animation-name: animate-fade;
    animation-timing-function: cubic-bezier(.26, .53, .74, 1.48);
    animation-fill-mode: backwards;
  }
  
  
  /* Fade In */
  .animate.fade {
    animation-name: animate-fade;
    animation-timing-function: ease;
  }
  
  @keyframes animate-fade {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

  .delay-1 {
    animation-delay: 0.25s;
  }
  .delay-2 {
    animation-delay: 0.5s;
  }
  .delay-3 {
    animation-delay: 0.8s;
  }

.coverButtons:hover {
    background-color: white !important;
    /* width: 15rem; */
}

a:hover {
  text-decoration: none !important;  
}

@media (max-width: 860px) {
    .coverButtons {
        margin: 0 -1rem;
        height: 4rem;
        width: 9.5rem !important;
    }
    .coverButtons:hover {
        background-color: white !important;
        /* width: 11rem; */
    }
}

.background-content {
    height: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    padding-bottom: 5rem;
    padding-top: 0rem;
}
.home-container {
    height: 100%;
    display: flex;
    /* flex-direction: column; */
    flex-direction: column;
    align-items: center;
    /* padding: 40px; */
    padding-top: 5rem;
    width: 60%;
    margin: auto;
    text-align: center;
}

.fullStack {
    background: linear-gradient(-45deg, #414a6b, #7265ad, #e89a3e, #dc8420);
    background-size: 300%;
    /*font-family: Arial, Helvetica, sans-serif;*/
    font-weight: 500;
    /*font-size: 6vw;*/
    letter-spacing: -1px;
    text-transform: uppercase;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animated_text 6s ease-in-out infinite;
    -moz-animation: animated_text 6s ease-in-out infinite;
    -webkit-animation: animated_text 6s ease-in-out infinite;
}

@keyframes animated_text {
    0% { background-position: 0px 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0px 50%; }
}

.fullStack {
    font-size: 4vw;
}
#subtitle {
    font-size: 1.5vw
}

@media (max-width: 1024px) {
    .fullStack {
        font-size: 5vw;
    }
    #subtitle {
        font-size: 2vw
    }
}


@media (max-width: 650px ) {
    .fullStack {
        font-size: 8vw;
    }
    #subtitle {
        font-size: 3.5vw
    }
    .home-container {
        width: 80%;
    }
}
