.portfolio-body {
    padding: 1rem!important;
    padding-top: 4rem!important;
    background: linear-gradient(-35deg, #fde59d, #efcd64, #f3dd9b, #fde59d);
    background-size: 400% 400%;
    animation: gradient 5s ease infinite
}

.card-title {
  margin-top: 1rem;
}

.cardHeader {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 1.25rem;
}

h1 {
  margin: 0!important;
}

a {
margin-top: .5rem;
}

.card-img-top {
    padding-bottom: 1rem;
}

.portfolioCard {
    margin-left: 3rem;
    margin-right: 3rem;
    margin-bottom: 2rem;
    padding: 1rem;
    margin-top: 2rem;
    background-color: rgba(255, 227, 143, 0.884);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.215);
}

.cardContainer {
    padding: 2rem 12rem 4rem 12rem;
    height: auto;
}

.portButton {
  border-radius: 5px;
  background-color: #008fc6;
  border: none;
  color: white;
  padding: .5rem;
  text-align: center;
  text-decoration: none;
}

.portButton:hover {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.216);
}

@media (max-width: 650px ) {
    .cardContainer {
        padding: 1.5rem 1rem 1.5rem 1rem;
        margin: 0;
    }
}

@media (max-width: 650px ) {
    .card-text, .card-text-muted {
        display: none;
    }

    .card-img-top {
        height: 9rem;
    }

    .portfolioCard {
        margin-top: 0;
        margin-bottom: .5rem;
        padding: .25rem;
        margin-left: 2rem;
        margin-right: 2rem;
    }

    a {
        font-size: .75rem;
    }
    
    .hero-body {
        padding-left: .25rem;
        padding-right: .25rem;
    }
}
