* {
    font-family: 'Cutive Mono', monospace;
}
.background {
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    z-index: 0;
}
.button {
    color: white;
}
.contactCard {
    /* padding: 1.5rem; */
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
a {
    color: #3273dc;
}
.contactHeader {
    justify-content: center;
    align-items: center;
}
@media (max-width: 1200px ) {
    .contactHeader {
        display: none;
        justify-content: center;
    }
}

