.animate {
    animation-duration: 0.75s;
    animation-delay: 0.5s;
    animation-name: animate-fade;
    /* animation-timing-function: cubic-bezier(0.26, 0.53, 0.74, 1.48); */
    animation-fill-mode: backwards;
  }